{% extends "landing/base.html" %}
{%load static%}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-2" style="background-color: #FFFFFF"></div>
    <div class="col-md-8" style="background-color: #99CCFF">
        <div class="col-md-10" style="background-color: #99CCFF">
                <div>
                    <p>{{ lesson.name }} </p>
                    <p>{{ lesson.school }} </p>
                    <p>{{ lesson.annotation }} </p>
                    <p>{{ lesson.date_create }} </p>
                </div>
        </div>
    </div>
    <div class="col-md-2" style="background-color: #FFFFFF"></div>
</div>
</div>


{% endblock %}