{% extends "landing/base.html" %}
{%load crispy_forms_tags%}
{%load static%}
{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-2" style="background-color: #FFFFFF"></div>
    <div class="col-md-8" style="background-color: #99CCFF">
        <div class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 120px; height: 120px;" src="{{user.profile.img.url}}">
                <p class="media-body pd-3 mb=0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@{{user.username}}</strong>
                    <b>Email:</b>{{user.email}}
                </p>

            </div>
        <div class="mt-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Update"><br><br>
            </form>
        </div>

    </div>

    <div class="col-md-2" style="background-color: #FFFFFF"></div>
</div>
</div>
{% endblock %}
